* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 400;
}

.wrapper {
    display: flex;
    width: 1350px;
    margin: 0 auto;
}

.board {
    display: grid;
    grid-template: repeat(3, 33.33%) / repeat(3, 33.33%);
    margin: 0 auto;
    padding: 12px;
    width: 416px;
    height: 416px;
    border-radius: 5px;
    background-color: #474747;
}

.board__element:not(.is-gap) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
    border-radius: 5px;
    background-color: #F17300;
    cursor: pointer;

    font-size: 45px;
    font-weight: 500;
    color: #FFF;

    transition: 0.3s;
}

.board__element.is-selected {
    border: #f8ba7f solid 2px;
}

.painel-a, .painel-b {
    width: 450px;
} h3 {
    text-align: center;
}